In [1]:
import numpy as np 
import pandas as pd
import time, warnings
import datetime as dt

In [2]:
import matplotlib.pyplot as plt

In [4]:
from pandas.plotting import scatter_matrix
%matplotlib inline
import seaborn as sns

In [5]:
warnings.filterwarnings("ignore")

In [32]:
#load the dataset
telecom_df = pd.read_csv('D:/RFM/Telecom_RFM.csv',sep=',', parse_dates=['CALL_STA_TIME'])
telecom_df.head()

   CALLING_ISDN        CALL_STA_TIME CREDIT_CHARGED
0    1202000262  2017-02-09 19:13:50            534
1    1202000262  2017-02-14 17:00:11           1454
2    1202000262  2017-02-01 06:47:20            415
3    1202000262  2017-02-15 10:25:44              0
4    1202000262  2017-02-14 16:20:11              0

In [33]:
telecom_df["id"] = telecom_df.index + 1

In [34]:
telecom_df.head()

   CALLING_ISDN        CALL_STA_TIME CREDIT_CHARGED  id
0    1202000262  2017-02-09 19:13:50            534   1
1    1202000262  2017-02-14 17:00:11           1454   2
2    1202000262  2017-02-01 06:47:20            415   3
3    1202000262  2017-02-15 10:25:44              0   4
4    1202000262  2017-02-14 16:20:11              0   5

In [35]:
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1675843 entries, 0 to 1675842
Data columns (total 4 columns):
CALLING_ISDN      1675843 non-null int64
CALL_STA_TIME     1675843 non-null object
CREDIT_CHARGED    1675843 non-null object
id                1675843 non-null int64
dtypes: int64(2), object(2)
memory usage: 51.1+ MB

In [37]:
print(telecom_df['CALL_STA_TIME'].min(), telecom_df['CALL_STA_TIME'].max())

$null$ 2017-02-15 23:59:58

In [39]:
telecom_df['CALL_STA_TIME'] = pd.to_datetime(telecom_df['CALL_STA_TIME'], errors='coerce')

#data['Start Date']= pd.to_datetime(data['Start Date'], dayfirst=True, errors='coerce')

In [40]:
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1675843 entries, 0 to 1675842
Data columns (total 4 columns):
CALLING_ISDN      1675843 non-null int64
CALL_STA_TIME     1675588 non-null datetime64[ns]
CREDIT_CHARGED    1675843 non-null object
id                1675843 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 51.1+ MB

In [41]:
print(telecom_df['CALL_STA_TIME'].min(), telecom_df['CALL_STA_TIME'].max())

2017-02-01 00:00:07 2017-02-15 23:59:58

In [42]:
sd = dt.datetime(2017,2,15)

In [44]:
telecom_df['hist']=sd - telecom_df['CALL_STA_TIME']
telecom_df['hist'].astype('timedelta64[D]')
telecom_df['hist']=telecom_df['hist'] / np.timedelta64(1, 'D')
telecom_df.head()

   CALLING_ISDN       CALL_STA_TIME CREDIT_CHARGED  id       hist
0    1202000262 2017-02-09 19:13:50            534   1   5.198727
1    1202000262 2017-02-14 17:00:11           1454   2   0.291539
2    1202000262 2017-02-01 06:47:20            415   3  13.717130
3    1202000262 2017-02-15 10:25:44              0   4  -0.434537
4    1202000262 2017-02-14 16:20:11              0   5   0.319317

In [ ]:
rfmTable = telecom_df.groupby('id').agg({'hist': lambda x:x.min(), # Recency
                                        'CALLING_ISDN': lambda x: len(x),               # Frequency
                                        'CREDIT_CHARGED': lambda x: x.sum()})          # Monetary Value

rfmTable.rename(columns={'hist': 'recency', 
                         'id': 'frequency', 
                         'CREDIT_CHARGED': 'monetary_value'}, inplace=True)

In [ ]:
telecom_df.head()