In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from lifelines import KaplanMeierFitter

In [2]:
draft_df = pd.read_csv("D:/nfl_survival_analysis-master/nfl_survival_analysis-master/data/nfl_survival_analysis_data.csv")

In [3]:
# set some plotting aesthetics, similar to ggplot
sns.set(palette = "colorblind", font_scale = 1.35, 
        rc = {"figure.figsize": (12,9), "axes.facecolor": ".92"})

In [4]:
draft_df.head()

,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,...,Rec,Rec_Yds,Rec_TD,Tkl,Def_Int,Sk,College,Player_ID,Retired,Duration
0,1967,1,1,BAL,Bubba Smith,DE,22,1976,1,2,...,0,0,0,0.0,0,0.0,Michigan St.,SmitBu00,1,10
1,1967,1,2,MIN,Clint Jones,RB,22,1973,0,0,...,38,431,0,0.0,0,0.0,Michigan St.,JoneCl00,1,7
2,1967,1,3,SFO,Steve Spurrier,QB,22,1976,0,0,...,0,0,0,0.0,0,0.0,Florida,SpurSt00,1,10
3,1967,1,4,MIA,Bob Griese,QB,22,1980,2,8,...,0,0,0,0.0,0,0.0,Purdue,GrieBo00,1,14
4,1967,1,5,HOU,George Webster,LB,21,1976,3,3,...,0,0,0,0.0,5,0.0,Michigan St.,WebsGe00,1,10

In [5]:
kmf = KaplanMeierFitter()

In [6]:
# The 1st arg accepts an array or pd.Series of individual survival times
# The 2nd arg accepts an array or pd.Series that indicates if the event 
# interest (or death) occured.
kmf.fit(durations = draft_df.Duration, 
        event_observed = draft_df.Retired)

In [7]:
kmf.event_table

          removed  observed  censored  entrance  at_risk
event_at
0            4597      4504        93     15592    15592
1            1310      1076       234         0    10995
2            1415      1176       239         0     9685
3            1183       952       231         0     8270
4            1126       942       184         0     7087
5             967       822       145         0     5961
6             915       782       133         0     4994
7             823       715       108         0     4079
8             743       667        76         0     3256
9             662       609        53         0     2513
10            580       523        57         0     1851
11            406       375        31         0     1271
12            313       291        22         0      865
13            198       184        14         0      552
14            149       146         3         0      354
15             88        85         3         0      205
16             52        49         3         0      117
17             33        33         0         0       65
18             11        11         0         0       32
19              5         5         0         0       21
20              8         8         0         0       16
21              5         5         0         0        8
22              1         1         0         0        3
23              1         1         0         0        2
26              1         1         0         0        1

In [18]:
event_at_0 = kmf.event_table.iloc[0, :]

In [9]:
surv_for_0 =  (event_at_0.at_risk - event_at_0.observed) / event_at_0.at_risk
surv_for_0

0.71113391482811694

In [10]:
from lifelines.datasets import load_rossi
from lifelines import CoxPHFitter

rossi_dataset = load_rossi()
cph = CoxPHFitter()
cph.fit(rossi_dataset, duration_col='week', event_col='arrest', show_progress=True)

Iteration 1: norm_delta = 0.48337, step_size = 0.95000, ll = -675.38063, seconds_since_start = 0.0
Iteration 2: norm_delta = 0.13160, step_size = 0.95000, ll = -659.79004, seconds_since_start = 0.1
Iteration 3: norm_delta = 0.01712, step_size = 0.95000, ll = -658.76197, seconds_since_start = 0.1
Iteration 4: norm_delta = 0.00103, step_size = 0.95000, ll = -658.74771, seconds_since_start = 0.1
Iteration 5: norm_delta = 0.00005, step_size = 0.95000, ll = -658.74766, seconds_since_start = 0.1
Iteration 6: norm_delta = 0.00000, step_size = 0.95000, ll = -658.74766, seconds_since_start = 0.1
Convergence completed after 6 iterations.

In [12]:
cph.hazards_

           fin       age    race      wexp       mar      paro      prio
coef -0.379422 -0.057438  0.3139 -0.149796 -0.433704 -0.084871  0.091497

In [13]:
cph.baseline_hazard_

          baseline hazard
event_at
0.0              0.000000
1.0              0.001958
2.0              0.001964
3.0              0.001965
4.0              0.001969
5.0              0.001975
6.0              0.001984
7.0              0.001995
8.0              0.009990
9.0              0.004053
10.0             0.002032
11.0             0.004103
12.0             0.004185
13.0             0.002097
14.0             0.006319
15.0             0.004267
16.0             0.004292
17.0             0.006460
18.0             0.006574
19.0             0.004432
20.0             0.011161
21.0             0.004513
22.0             0.002266
23.0             0.002279
24.0             0.009129
25.0             0.006902
26.0             0.007054
27.0             0.004732
28.0             0.004758
30.0             0.004806
31.0             0.002419
32.0             0.004862
33.0             0.004897
34.0             0.004966
35.0             0.010018
36.0             0.007608
37.0             0.010244
38.0             0.002596
39.0             0.005212
40.0             0.010474
42.0             0.005329
43.0             0.010696
44.0             0.005426
45.0             0.005467
46.0             0.011055
47.0             0.002794
48.0             0.005613
49.0             0.014172
50.0             0.008623
52.0             0.011686

In [14]:
cph.score_

0.64032924709971351

In [16]:
cph.baseline_hazard_.iloc[0, :]

baseline hazard    0.0
Name: 0.0, dtype: float64

In [17]:
cph.baseline_hazard_.iloc[1, :]

baseline hazard    0.001958
Name: 1.0, dtype: float64